<a href="https://colab.research.google.com/github/Iva-en/BeautySoft/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
# Importar las librerías necesarias
import sqlite3
import pandas as pd

# Crear una base de datos en memoria
conn = sqlite3.connect(':memory:')
cursor = conn.cursor()

# Crear una tabla llamada "Estudiantes"
cursor.execute('''
CREATE TABLE Estudiantes (
    id INTEGER PRIMARY KEY,
    nombre TEXT NOT NULL,
    edad INTEGER,
    calificacion REAL
)
''')

# Insertar datos en la tabla
datos = [
    (1, 'Juan', 20, 85.5),
    (2, 'Ana', 22, 90.0),
    (3, 'Pedro', 19, 78.0),
    (4, 'Sofía', 21, 92.3),
    (5, 'Luis', 20, 88.8)
]
cursor.executemany('INSERT INTO Estudiantes VALUES (?, ?, ?, ?)', datos)
conn.commit()

# Función para ejecutar consultas SQL
def ejecutar_consulta(sql):
    resultado = pd.read_sql_query(sql, conn)
    return resultado

# Consulta 1: Seleccionar todos los estudiantes
sql_1 = "SELECT * FROM Estudiantes"
print("Consulta 1: Todos los estudiantes")
display(ejecutar_consulta(sql_1))

# Consulta 2: Seleccionar estudiantes con calificación mayor a 85
sql_2 = "SELECT * FROM Estudiantes WHERE calificacion > 85"
print("Consulta 2: Estudiantes con calificación > 85")
display(ejecutar_consulta(sql_2))

# Consulta 3: Contar el número de estudiantes mayores de 20 años
sql_3 = "SELECT COUNT(*) as Total FROM Estudiantes WHERE edad > 20"
print("Consulta 3: Número de estudiantes mayores de 20 años")
display(ejecutar_consulta(sql_3))

# Consulta 4: Obtener el promedio de las calificaciones
sql_4 = "SELECT AVG(calificacion) as Promedio FROM Estudiantes"
print("Consulta 4: Promedio de calificaciones")
display(ejecutar_consulta(sql_4))

# Cierra la conexión al final
conn.close()

Consulta 1: Todos los estudiantes

   id nombre  edad  calificacion
0   1   Juan    20          85.5
1   2    Ana    22          90.0
2   3  Pedro    19          78.0
3   4  Sofía    21          92.3
4   5   Luis    20          88.8

Consulta 2: Estudiantes con calificación > 85

   id nombre  edad  calificacion
0   1   Juan    20          85.5
1   2    Ana    22          90.0
2   4  Sofía    21          92.3
3   5   Luis    20          88.8

Consulta 3: Número de estudiantes mayores de 20 años

   Total
0      2

Consulta 4: Promedio de calificaciones

   Promedio
0     86.92